*{
	margin: 0;
	padding: 0;
}
body{
	background-color:#c2e0e8;
}

#contenedor{
	background-image: url(../images/hoja.jpg) ;
	width:960px;
	margin:0 auto;
	border: 15px solid red;
	border-radius: 30px;
	
}
	
#contenido{
	
	margin: 60px 20px 30px 30px;
	
}
/*Credits: CSSpplay */
/*URL: http://www.cssplay.co.uk/menus/pro_five */
.preload16 {background: url(pro16/pro16_2.gif);}
.preload16a {background: url(pro16/pro16_2a.gif);}

.pro16 {padding:0 0 0 1em; margin:30px 0 50px 0; list-style:none; height:43px; position:relative; background:transparent url(pro16/pro16_back.gif) repeat-x left top; font-size:11px;}
.pro16 li {float:left; height:43px;}
.pro16 li a {display:block; float:left; height:40px; line-height:35px; color:#888; text-decoration:none; font-family:arial, verdana, sans-serif; font-weight:bold; text-align:center; padding:0 0 0 10px; cursor:pointer; background:url(pro16/pro16_0a.gif) no-repeat;}
.pro16 li a b {float:left; display:block; padding:0 60px 0 0; background:url(pro16/pro16_0.gif) no-repeat right top;}
.pro16 li.current a {color:#000; background:url(pro16/pro16_2a.gif) no-repeat;}
.pro16 li.current a b {color:#000; background:url(pro16/pro16_2.gif) no-repeat right top;}
.pro16 li a:hover {color:#000; background: url(pro16/pro16_2a.gif) no-repeat;}
.pro16 li a:hover b {color:#000; background:url(pro16/pro16_2.gif) no-repeat right top;}
.pro16 li.current a:hover {color:#000; cursor:default;}

h1{
	font-size: 60px;
	font-style: italic;
}
h2{
	margin-bottom: 20px;
	font-size: 40px;
}

.etiqueta1{
	float:right;
	padding-right:120px;
	padding-top: 120px;
}
.etiqueta2{
	padding-left:100px;
	font-size: 50px;
	font-style: italic;
	
}
td{
	font-size:20px;
	
}
.etiqueta_form{
	font-size:20px;
	margin-bottom:15px;
	margin-right:20px;
	

	
	
}
.input_form{
	font-size:20px;
	width:400px;
	margin-bottom: 15px;
	
	
}
.boton1{
	width: 50px;
	height: 25px;
	margin-left: 30px;
}
td{
	width: 75px;
}

